@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@100;300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@100;300;500;700&display=swap');

:root {
    --fonte-padrao: "Opens Sans", sans-serif;
    --fonte-1: 'Bebas Neue', cursive;
}


* {
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

body {   
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}
.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}


@media screen and (min-width: 768px){
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }    
    
}